@import "../../../../css/**/*"

.modal-text-true
	text-align center
	font-weight: 700
	font-size: 24px
	margin-top: 30px

.modal--true
	max-width 350px
	.modal-content
		flex(mid)
		fl()
	.icon-msg
		fill green
	.modal-text-add
		text-align center
		color gray
		margin-top: 10px
		line-height: 1.4